<section class="mainbar" data-ng-controller="member as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        

                        <div class="row">

                            <div class="col-md-12">

                                <section class="panel">
                                    <header class="panel-heading">
                                     
                                         <a class=" pull-right btn btn-info btn-sm" href="#/addmember"><h3>Add Member</h3></a>
   
                                    </header>
                                  



                                    <div class="row">
                                        <h1 class="text-center text-danger">Members</h1>
                                        <hr />


                                        <div class="row">
                                            <div class="col-md-9 col-md-offset-1">
                                               <input type="text" placeholder="Type to filter here" class="input-lg form-control" ng-model="txtFilter" />

                                                <br />
                                                <br />

                                                <table class="table table-striped table-bordered">

                                                    <thead>
                                                        <tr>
                                                            <th>Photo</th>
                                                            <th>Member Name</th>
                                                            <th>Member Id</th>
                                                            <th>Volunteer</th>
                                                            <th>Member Email</th>
                                                            <th>Mobile NO</th>
                                                            
                                                        </tr>

                                                    </thead>

                                                    <tr data-ng-repeat= "m in vm.members | filter:txtFilter">
                                                        <td>
                                                            {{m.Image}}
                                                        </td>
                                                        <td>
                                                            {{m.Name}}
                                                        </td>

                                                        <td>
                                                            {{m.MemberID}}
                                                        </td>
                                                        <td>
                                                            {{m.MemberType}}
                                                        </td>
                                                        <td>
                                                            {{m.Email}}
                                                        </td>

                                                        <td>
                                                            {{m.MobileNo}}
                                                        </td>
                                                        <td><a class="btn btn-default" ng-href="#addmember/{{m.MemberID}}">Edit Employee</a></td>
                                                        <td><a class="btn btn-danger" ng-href="#member/{{m.MemberID}}">Delete</a></td>
                                                    </tr>


                                                </table>

                                            </div>
                                        </div>

                                    </div>


                                     
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
